// Includes to change AJScli defaults
// Example:

#ifndef AJS_CLI_CFG_H__
#define AJS_CLI_CFG_H__

#define CLI_PROMPT                  (">")
#define CLI_NEWLINE                 ("\r\n")
#define CLI_MAX_COMMAND_LENGTH      (256)
#define CLI_MAX_COMMAND_HISTORY     (32)
#define CLI_MAX_COMMAND_ARGS        (10)
#define CLI_MAX_COMMAND_LISTS       (32)
#define CLI_SHOW_ONLY_ASCII         (0)
#define CLI_HAS_COLOR_PRINT         (1)
#define CLI_HAS_INSERT_MODE         (1)

// Define if override necessary
// #define _CLI_SET_OPS    0
// #define _CLI_GET_CH     1
// #define _CLI_RTOS_TASK_DELETE    0
// #define CLI_ESC_HAS_PREFIX       0

// Define if initialization functions are necessary
// #define CLI_INIT(get, put)              \
//     do {                                \
//         (void) get;                     \
//         (void) put;                     \
//     } while (0)

#endif /* AJS_CLI_CFG_H__ */
